<div class="text-center">
    <div class="flex items-center justify-center w-full">
      <label htmlFor="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
        <div class="flex flex-col items-center justify-center p-[3.5rem]">
          <div class="flex justify-center items-center w-12 h-12 mb-3 rounded-full bg-gray-100">
            <svg class="w-6 h-6 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
            </svg>
          </div>
          <p class="mb-2 text-sm text-gray-500">
            <span class="font-semibold">Clique para fazer upload</span> ou arraste e solte
          </p>
          <p class="text-xs text-gray-500">PDF ou PNG (MAX. 10MB)</p>
        </div>
        <input id="dropzone-file" type="file" class="hidden" (change)="handleFileChange($event)" accept=".pdf,.png" />
      </label>
    </div>
    <div *ngIf="selectedFiles.length != 0">
      <div class="mt-4">
        <p class="text-sm text-gray-500">Arquivo selecionado: {{selectedFiles[0].name}}</p>
        <button class="mt-2 px-4 py-2 bg-gray-800 text-white rounded hover:bg-blue-900 transition-colors" (click)="handlerSendFile()">
          Enviar arquivo
        </button>
      </div>
    </div>
</div>

<div class="text-center">
  <div *ngIf="responseApiRest != null">
    <!-- <div class="mt-4 p-4 border rounded-md bg-green-500 text-white" *ngIf="responseApiRest.status == 200; else errorInUploadFile">
      <p>{{responseApiRest.status}}</p>
    </div> -->
    <div class="mt-4 p-4 border rounded-md bg-red-500 text-white" *ngIf="responseApiRest.status != 200">
      <p>{{responseApiRest | json}}</p>
    </div>

    <div *ngIf="responseGenericApiRest != null && responseApiRest.status == 200">
      <div class="w-full max-w-4xl mx-auto mt-8">
        <h2 class="text-2xl font-bold mb-4">Resultados da Análise</h2>
        
        <div class="bg-white shadow-md rounded-lg overflow-hidden mb-6">
          <h3 class="text-xl font-semibold p-4 bg-gray-50">Transações</h3>
          <div class="overflow-x-auto">
            <table class="w-full">
              <thead class="bg-gray-50">
                <tr>
                  <th class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Data</th>
                  <th class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Descrição</th>
                  <th class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Valor</th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                  <tr *ngFor="let transaction of responseGenericApiRest.body.message.transactions">
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{transaction.date}}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{transaction.description}}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{objectKeys(transaction).includes('amount') ? (transaction.amount | currency) : (transaction.balance | currency)}}</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="bg-white shadow-md rounded-lg p-6">
          <h3 class="text-xl font-semibold mb-2">Análise Geral</h3>
          <p class="text-gray-700" [innerHTML]="handlerInterpretTextResponse(responseGenericApiRest.body.message.analyze)"></p>
        </div>
  
      </div>
    </div>
  </div>
</div>